@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.checkout-options-container {
    margin-bottom: -60px;

    h2 {
        margin-bottom: 20px;
    }

    .MuiTypography-root {
        font-size: 1.5rem !important;
    }
}
